@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish:wght@500&family=Poppins:wght@700&display=swap');
*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(49,62,81);
  font-family: 'Poppins', sans-serif;

}


.navLink-container{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding: 10px;
  width:75%;

  margin:auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

}
.logo{
  text-align: center;
  color: rgb(20,126,251);
 
  text-decoration: none;
}

.nav_link{
  text-decoration: none;
  color: white;
}

.searchText{
  border:3px solid rgb(20,126,251);
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 1em;
}